/** License Page CSS */

body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	max-width: 800px;
	margin: 0 auto;
	padding: 1em;
}

dfn {
	font-style: normal;
	font-weight: bold;
}

li {
	margin-bottom: 1em;
}

.caps {
	text-transform: uppercase;
}
