/**
  * {Your Game} Manual CSS
  *
  * Author: {Your Name}
  * License: {Your CSS License}
  */

@font-face {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
}

html {
	font-size: 130%;
}

body {
	background: #fff;
	background-attachment: fixed;
	color: #000;
	font-family: Montserrat, Calibri, Helvetica, Arial, sans-serif;
	padding: 1em;
}

.main-error {
	margin: 0 auto;
	max-width: 1100px;
	text-align: center;
	width: 100%;
}

a {
	color: #428bca;
}

a[href^="https://"]::after {
	content: url('../img/external-link.svg');
	display: inline-block;
	padding-left: .3em;
}

a:visited {
}

a.active,
a:active,
a:focus,
a:hover {
}

audio {
	width: 100%;
}

code {
	color: #050202;
	font-size: 90%;
}

.dl-inline {
	background: #f5f5f5;
    border: 1px solid #ccc;
	font-size: .8rem;
	padding: 1rem;
}

.dl-inline dt,
.dl-inline dd {
	display: inline;
}

.dl-licenses dt {
	display: flex;
	font-size: 1rem;
    font-weight: normal;
}

.dl-licenses dt span {
	flex: 0 0 max-content;
}

.dl-licenses dt::after {
  content: '';
  border-bottom: 1px dashed #353535;
  height: 1px;
  margin-top: .8rem;
  margin-left: 1rem;
  overflow: hidden;
  width: 100%;
}

figcaption {
	color: #858399;
	font-size: .8rem;
	text-align: center;
}

::marker {
	float: left;
}

.figure-right {
	float: right;
	margin-right: 0;
	max-width: 400px;
}

.figure-left {
	float: left;
	margin-left: 0;
	max-width: 400px;
}

footer {
	margin-top: 1em;
}

header {
}

img {
	max-width: 100%;
}

kbd {
	background: #d5f2ff;
	border: 1px solid #abe9ff;
	color: #0d3454;
}

li p {
	display: inline;
	margin-left: .5rem;
}

p {
	margin: 0 0 1.2rem;
}

section {
	padding-top: 1em;
}

table {
	color: #626262;
	margin-bottom: 1rem;
}

.table td, .table th {
	padding: .2rem;
}

main,
footer {
	padding: 1em 2em;
}

main,
footer,
.sidebar {
	background: rgba(255, 255, 255, 0.6);
}

.sidebar {
	margin-bottom: 1em;
	max-height: 200px;
	overflow-y: scroll;
	padding: 1em;
}

.sidebar__title {
	color: #7e8081;
	font-size: 1.2rem;
	text-align: center;
	text-shadow: none;
	-webkit-text-stroke: 0;
}

.sidebar__menu ol {
	margin: 0;
}

.sidebar__menu ol ol {
	margin-bottom: 0;
	margin-top: 0;
}

.sidebar__menu ol li {
	margin-top: .2rem;
}

.text-assistive:focus {
	background-color: #fff;
	clip: auto !important;
	height: auto;
	left: 0;
	padding: .5em;
	top: 0;
	width: auto;
	z-index: 1;
}

.icon-ga {
    float: left;
    margin-right: .5rem;
    margin-top: .2rem;
    width: 32px;
    height: 32px;
}

.button-social {
	color: #fff;
	display: inline-block;
	font-weight: 700;
	padding: .2rem .3rem;
	text-decoration: none;
	transition: .5s ease all;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}

.button-twitter {
	background: #55acee;
}

.button-patreon {
	background: #f96854;
	border: 1px solid #f96854;
	padding: .5rem .6rem;
	text-transform: uppercase;
}

a.button-social::after {
	content: none;
}

.button-social:hover,
.button-social:focus,
.button-social:after {
	color: #fff;
	text-decoration: none;
}

.button-patreon:hover,
.button-patreon:focus,
.button-patreon:active {
	background: #ff8370;
}

.button-patreon__icon {
	height: 12px;
	margin-right: .5rem;
	width: 12px;
}

/** Responsive **/

@media screen and (min-width: 841px) {
	body {
		display: flex;
		display: -ms-flexbox;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1400px;
	}

	.sidebar {
		flex: 0 0 24%;
		max-height: calc(100vh - 2em);
		min-height: 0;
		position: -webkit-sticky;
		position: sticky;
		text-align: left;
		top: 1em;
	}

	.main {
		flex: 0 0 75%;
	}
}

@media screen and (min-width: 450px) and (max-width: 840px) {
	.sidebar {
		text-align: center;
	}
}

@media screen and (max-width: 700px) {
	td,
	tr {
		display: block;
	}

	td {
		width: 100%;
	}

	.table.table-striped tbody tr:nth-of-type(2n+1) {
		background: none;
	}

	.table.table-striped tbody tr:nth-of-type(2n+1) td:nth-child(2) {
		background: #e5f2ff;
	}

	.table.table-striped tbody tr:nth-of-type(2n+2) td:nth-of-type(odd) {
		background: #e5f2ff;
	}
}

h1, h2, h3, h4, h5,
}
